* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background: lightgreen;
    color: #333;
}

.hero img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6)), (rgba(0, 0, 0,0.6)) url() center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 20px;
}

header h1 span {
    color: #ffd700;
}

section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a5acd;
}

.skills {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills li {
    background: #6a5acd;;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

#contact a {
    color: #6a5acd;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color: #ffd700;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}